:root {
    --menu-backcolor-a: #100010;
    --menu-backcolor-b: #101020;
    --menu-backcolor-c: #101020;
    --menu-backcolor-active: #404050;
    --menu-backcolor-interact: #505060;
    --menu-backcolor-disabled: #101020;

    --menu-bordercolor-a: #100010;
    --menu-bordercolor-b: #ffffff00;
    --menu-bordercolor-c: #ffffff;
    --menu-bordercolor-active: #101020ff;
    --menu-bordercolor-interact: #101020ff;
    --menu-bordercolor-disabled: #101020ff;

    --menu-textcolor-a: #100010;
    --menu-textcolor-b: #00ffff;
    --menu-textcolor-c: #ffffff;
    --menu-textcolor-active: #c0c0c0;
    --menu-textcolor-interact: #c0c0c0;
    --menu-textcolor-disabled: #c0c0c0;
}



.menu
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--menu-backcolor-b);
    color: var(--menu-textcolor-b);
    border: 1px solid var(--menu-bordercolor-b);

    min-width: 180px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
}

.menu-line
{
    position: relative;
    align-self: center;

    width: 80%;
    display: flex;
    justify-content: center;
}

.menu-division
{
    font-family: Caslon-Antique;

    width: 100%;
    margin-top: 5px;
    min-height: 16px;
    text-align: center;

    color: var(--menu-textcolor-active);
}




.menu-button{
    width: 100%;

    font-family: Caslon-Antique;
    text-align: center;
    color: var(--menu-textcolor-active);

    background-color: transparent;
    border: 0px none transparent;

    margin: 1px;
    position: relative;
}
.menu-button::before{
    background-color: var(--menu-backcolor-active);

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.1s ease;
    
    width: 100%;
    height: 100%;
}
  
.menu-button:hover::before{
    background-color: var(--menu-backcolor-interact);

    width: calc(100% - 3px);
    height: calc(100% - 1px);
}